@keyframes slideInRight
  0%
    transform: translateX(130%)
  100%
    transform: translateX(0)
  // 100%
    transform: translateX(130%)

@keyframes flipInTop
  0%
    transform: rotateX(110deg)
  50%
    transform: rotateX(-70deg)
  100%
    transform: rotateX(0)

@keyframes fadeIn
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0

@keyframes scale-in-ver-center
  0%
    -webkit-transform: scaleY(0)
            transform: scaleY(0)
    opacity: 1

  100%
    -webkit-transform: scaleY(1)
            transform: scaleY(1)
    opacity: 1

.dark
  color: white
  background-color: #303030

//  Navbar
.navbar
  height: 100%
  width: 10rem
  padding: 2.5rem

  display: flex
  flex-direction: column
  justify-content: space-between

  @include respond(tab-port)
    height: auto 
    width: 100% 
    justify-content: flex-start 
    flex-direction: row 

    & > :first-child
      margin-right: 2.5rem

  @include respond(phone)
    padding: 1.5rem



.add-note
  width: 5rem
  height: 5rem
  border-radius: 50%
  background-color: #303030
  color: white
  cursor: pointer

@keyframes color-change-3x
  0%
    background: #19dcea
  50%
    background: #b22cff
  100%
    background: #ea2222

.note
  width: 22.8rem
  height: 22.8rem
  // max-width: 22.8rem
  // max-height: 22.8rem
  flex-grow: 1
  // border: 1px solid transparent
  border-radius: 1.5rem
  padding: 2.5rem
  background-color: white
  display: flex
  flex-direction: column
  justify-content: space-between
  transition: margin-top 0.5s, box-shadow 0.5s


  &:hover
    margin-top: -1rem
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17)
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017))
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017))

  &__input
    padding: 0.5rem
    border: none
    outline: none
    resize: none
    height: 80%
    border-radius: 1rem
    color: #303030
    font-size: 1.6rem

    &::-webkit-scrollbar
      width: 5px

    &::-webkit-scrollbar-track
      background: #f1f1f1

    &::-webkit-scrollbar-thumb
      background: #888

  &__action
    display: flex
    justify-content: flex-end

  &__btn
    width: 3rem
    height: 3rem
    border-radius: 50%
    color: #303030
    font-size: 1.3rem
    border: 2px solid transparent
    background-color: transparent
    transition: color .5s, background-color .5s, border .5s
    outline: none

    &:hover, &:focus
      color: white
      // border: 2px solid white
      background-color: #303030

.attention
  border: 2px solid #303030
  // color: white
  // background-color: #303030
  // animation: heartbeat 1.5s ease-in-out infinite both
  // animation: color-change-3x 4s ease-in infinite alternate both

.note_attention
  margin-top: -1rem

  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17)
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017))
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017))

.hidden
  opacity: 0

.blue
  background-color: #B3E5FC

.purple
  background-color: #E1BEE7

.gray
  background-color: #CFD8DC

.green
  background-color: #C8E6C9

.yellow
  background-color: #FFF9C4

.red
  background-color: #FFCDD2

.pink
  background-color: #F8BBD0


.notification
  width: 25rem
  display: flex
  flex-direction: column
  margin-right: 5rem
  position: fixed
  top: 0
  right: 0

  font-size: 1.5rem
  transition: all .5s

  & > :first-child
    margin-top: 5rem

  & > *:not(:last-child)
    margin-bottom: 1.5rem

  & i
    padding: 1rem
    font-size: 2rem

  &__item
    min-height: 4rem
    border-radius: 1rem
    display: flex
    align-items: center
    padding: 1.5rem
    padding-left: 1rem
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17)
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017))
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017))
    animation: slideInRight 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both

  &__text
    color: #303030
  &__close
    & .btn
      border: none

.success
  background-color: #C8E6C9
.error
  background-color: #FFCDD2
